In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [38]:
guns = pd.read_csv("guns_2013.csv")

In [39]:
guns

#rename column:
guns = guns.rename(columns={'death_rate.1': 'death_rate'})

guns

   state  gun_rate num_deaths   total_pop  death_rate
0     AK      61.7        132     539,089    0.024486
1     LA      44.5        813   3,453,197    0.023543
2     AL      48.9        822   3,657,350    0.022475
3     WY      53.8         98     437,381    0.022406
4     MS      42.8        495   2,212,297    0.022375
5     AR      57.9        472   2,210,948    0.021348
6     OK      31.2        596   2,853,919    0.020884
7     MT      52.3        161     777,668    0.020703
8     NM      49.9        310   1,549,819    0.020002
9     TN      39.4        976   4,920,312    0.019836
10    SC      44.4        706   3,626,305    0.019469
11    WV      54.2        271   1,447,840    0.018718
12    ID      56.9        215   1,161,530    0.018510
13    MO      27.1        832   4,566,092    0.018221
14    AZ      32.3        894   4,919,910    0.018171
15    NV      37.5        376   2,094,254    0.017954
16    KY      42.4        594   3,327,287    0.017852
17    IN      33.8        807   4,894,829    0.016487
18    GA      31.6      1,201   7,362,330    0.016313
19    UT      31.9        317   1,960,728    0.016167
20    NC      28.7      1,160   7,426,001    0.015621
21    FL      32.5      2,337  15,322,394    0.015252
22    ND      47.9         83     550,654    0.015073
23    KS      32.2        316   2,129,355    0.014840
24    CO      34.3        587   3,959,801    0.014824
25    MI      28.8      1,104   7,511,485    0.014697
26    ME      22.6        153   1,049,812    0.014574
27    OR      26.6        439   3,019,543    0.014539
28    OH      19.6      1,219   8,762,125    0.013912
29    PA      27.1      1,375   9,885,493    0.013909
30    TX      35.7      2,625  19,056,110    0.013775
31    VA      29.3        837   6,284,871    0.013318
32    DE       5.2         94     708,718    0.013263
33    VT      28.8         62     493,887    0.012553
34    WI      34.7        538   4,356,923    0.012348
35    MD      20.7        554   4,503,684    0.012301
36    SD      35.0         75     625,601    0.011988
37    NE      19.8        160   1,378,008    0.011611
38    WA      27.7        612   5,287,565    0.011574
39    IL      26.2      1,004   9,681,642    0.010370
40    IA      33.8        239   2,323,748    0.010285
41    MN      36.7        408   4,068,147    0.010029
42    CA      20.1      2,843  28,627,395    0.009931
43    NH      14.4         89   1,032,766    0.008618
44    NJ      11.3        476   6,761,783    0.007040
45    RI       5.8         54     821,681    0.006572
46    CT      16.6        155   2,758,655    0.005619
47    NY      10.3        818  15,152,689    0.005398
48    MA      22.6        209   5,209,450    0.004012
49    HI      45.1         38   1,082,015    0.003512

In the dataframe, death_rate represents num_deaths/total_pop.  This dataset includes people age > 18 from 2013 only.

In [46]:
#create lists of states for partisan composition
dem = ['WA', 'OR', 'NV', 'CA', 'CO', 'NM', 'MN', 'IL', 'WV', 'NY', 'VT', 'ME', 'MD', 'DE', 'NJ', 'CT', 'RI', 'MA']
other = ['NE', 'IA', 'KY', 'VA', 'NH']
#else = republican

#create variable for each state's political party
def party(row):
    if row['state'] in dem:
        return 'D'
    elif row['state'] in other:
        return 'O'
    else:
        return 'R'

guns['party'] = guns.apply(lambda row: party(row),axis=1)

guns.head(5)

  state  gun_rate num_deaths  total_pop  death_rate party    color
0    AK      61.7        132    539,089    0.024486     R  #FF0000
1    LA      44.5        813  3,453,197    0.023543     R  #FF0000
2    AL      48.9        822  3,657,350    0.022475     R  #FF0000
3    WY      53.8         98    437,381    0.022406     R  #FF0000
4    MS      42.8        495  2,212,297    0.022375     R  #FF0000

In [58]:
#create scatterplot
sns.set_style("white")

def color(row):
    if row['party'] == 'D':
        return '#0000FF'
    elif row['party'] == 'R':
        return '#FF0000'
    else:
        return '#90EE90'

guns['color'] = guns.apply(lambda row: color(row),axis=1)


plot1 = sns.regplot(x="gun_rate", y="death_rate", data = guns, scatter_kws = {'s':100, 'facecolors': guns['color']})

#sns.regplot(data=df, x="x", y="y", scatter_kws={'facecolors':df['color']})

for i, txt in enumerate(guns.state):
    plot1.annotate(txt, (guns.gun_rate[i],guns.death_rate[i]), size='large', color='black', weight='semibold')

plt.title("Gun Ownership vs. Gun Deaths")
plt.xlabel("Gun ownership (percent of adults)")
plt.ylabel("Gun deaths (percent of adults)")


#x1,x2,y1,y2 = plt.axis()

#plt.axis((0, 100, 0, 0.03))

# Move the legend to an empty part of the plot
plt.legend(loc='lower right')


sns.plt.show()